<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="CORE HR">
		<classes>
		</classes>
	</test>
	<test name="ORC">
		<classes>
			<class name="test.ORC" />
			<class name="test.CoreHR" />
		</classes>
	</test>
	<!-- Test -->
	<test name="Benifits">
		<classes>
			<class name="test.Benifits" />
			<class name="test.SendoDemoClass" />
		</classes>
	</test>
</suite> <!--
Suite -->
